annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
click==8.5.0
fastapi==0.141.1
greenlet==3.5.6
h11==0.16.0
httptools==0.8.0
idna==3.19
nodeenv==1.10.0
-e git+https://github.com/tekraj/pgs-search-engine.git@97f353571140dbaf22e664477d4339da31cf020a#egg=pgs_db&subdirectory=database
pydantic==2.13.5
pydantic_core==2.46.5
pyright==1.1.414
python-dotenv==1.2.3
PyYAML==6.0.3
ruff==0.16.7
SQLAlchemy==2.0.52
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.53.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.1
